spring:
  datasource:
    url: jdbc:postgresql://aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true&prepareThreshold=0&preferQueryMode=simple
    username: postgres.ytgirhneicrinjhnflpl
    password: "@a181994@Csb"
    driver-class-name: org.postgresql.Driver
    hikari:
      auto-commit: false
      maximum-pool-size: 5
      minimum-idle: 1

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true

server:
  port: 8080

jwt:
  secret: VYOgLsEJ3XwlMSdWSzXw/5qkN2uYsQm+hZiAq0wCLt4=
  expiration: 86400000   # 1 day in ms
